* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
    color: #FFF;
}

/* .background {
    width: 1440px;
    height: 490px;
    background: transparent url(images/bg-desktop.png) repeat-x 0 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    background-size: contain;
    bottom: 0;
} */

.main {
    width: 1000px;
    margin: 240px auto;
    display: grid;
    grid-template-columns: 2fr 3.1fr;
    gap: 30px;
}

/* FIRST CONTAINER */

.header {
    /* border: 1px solid yellow; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.icons .bg-img {
    width: 48px;
    /* Set a fixed width */
    height: 48px;
    /* Set a fixed height */
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 6px;
}

.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Preserve aspect ratio, and fit the content within the box */
    display: block;
    /* Remove extra space below inline-block elements */
    margin: auto;
}

/* DEUXIEME CONTAINER */

.container2-right {
    display: flex;
    justify-content: end;
}

.container2-header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container2-header-flex h2 {
    font-size: 35px;
    color: hsl(229, 57%, 11%);
}

.container2-header-flex p {
    color: gray;
}

.container2::before {
    content: '';
    /* Required for the pseudo-element */
    position: absolute;
    /* Position it relative to the container */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 40px 0;
    /* Adjust the values to control the triangle size */
    border-color: transparent #FFF transparent transparent;
    /* Set the border color to create a white triangle */
    right: 0;
    /* Position it at the bottom right */
    bottom: -20px;
}


/* TROISIEME CONTAINER */

.storage {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
    margin: 15px;
    gap: 20px;
}

.storage-label {
    display: flex;
    justify-content: space-between;
}


.line-black {
    height: 25px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
}

.line-black {
    display: flex;
    align-items: center;
}

.line-black .line-gradient {
    margin: 0 5px;
    width: 75%;
    height: 15px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
}

.line-gradient {
    display: flex;
    align-items: center;
    justify-content: end;
}

.white-dot {
    margin-right: 3px;
    margin-bottom: 1px;
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    /* Adjust if you want it to behave differently in your layout */
}


/* font-family: 'Raleway', sans-serif; */


/* Class utilitaires */


.container1 {
    /* border: 1px solid red; */
    background-color: hsl(228, 56%, 26%);
    border-top-right-radius: 120px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.container2 {
    /* border: 1px solid red; */
    color: black;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 40px;
    right: 50px;
}

.container3-center {
    display: none;
}



.container3 {
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: hsl(228, 56%, 26%);
    height: 155px;
}

.container4-center {
    display: none;
}

@media (max-width: 430px) {

    body {
        background-image: url(images/bg-mobile.png);
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .mobile-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .mobile-row .container3 {
        height: 215px;
    }

    .container2 {
        display: none;
    }

    .container4-center {
        color: black;
        margin: auto;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        width: 50%;
        position: relative;
        top: -25px;
        height: 70px;
        align-items: center;
        border-radius: 10px;
    }

    .container4-header-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .container4-header-flex h2 {
        font-size: 35px;
        color: hsl(229, 57%, 11%);
    }

    .container4-header-flex p {
        color: gray;
    }

}






.background {
    width: 100%;
    height: 550px;
    background: transparent url(images/bg-desktop.png) repeat-x 0 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    background-size: contain;
    bottom: 0;
}